@font-face {
  font-family:"Raleway";
  src: url(fonts/raleway/raleway-800.woff2) format("woff2");
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}
@font-face {
  font-family:"Rubik" ;
  src: url(fonts/rubik/rubik-700.woff2) format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family:"Rubik" ;
  src: url(fonts/rubik/rubik-400.woff2) format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
body{
 font-family: "Ribik",sans-serif;
 font-size: 18px;
 line-height: 30px;
 font-weight: 400;
 text-align: start;
 color: #000000;
 background-color: #ffffff;
}
body a {
 text-decoration: none;
 color: #000000;
}
body li {
  list-style-type: none
}
.button {
  font-family: "Raleway",sans-serif;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: .2em;
  font-weight: 800;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
}
.page-header {
  background: #FFE17F;
  color: #000000;
}


.navigation-link {
  font-family: "Raleway",sans-serif;
  line-height: 21px;
  letter-spacing: .2em;
  font-weight: 800;
  text-transform: uppercase;
  color: inherit;
}
.navigation-user-link {
  font-family: "Ribik",sans-serif;
 line-height: 30px;
 color: inherit;
}
/* header style end */

.category-link {
  font-family: "Raleway",sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: inherit;
  font-weight: 800;
}

.title,.subscription-button  {
  font-family: "Raleway",sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;

}
.category-icon {
  background: #FFE17F;
}
.cite-description {

 line-height: 30px;
 color:#444444
}
.cite-characteristic-number{
  font-size: 36px;
  color: #000000;
}
.cite-characteristic-text {
  font-size: 16px;
  color:#444444
}
.text-content {
  color:#444444
}
.delivery-garanty-credit-list {
  background-color: #F0F0F0;
}
.delivery-for-order{
  background-color: #F0F0F0;
}
.delivery-for-order-title {
  font-family: "Raleway",sans-serif;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: .2em;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
}


/* styles from catalog */
.breadcrumps-item {
  line-height: 19px;
}
.text-filter {
  font-family: "Raleway",sans-serif;
  font-size: 16px;
  line-height: 19px;
  font-weight: 800;
  letter-spacing: .2em;
  text-transform: uppercase;
}
.catalog-filter-title {
  line-height: 20px;
  font-weight: 700;
}
.catalog-filter-item {
  line-height: 19px;
}

.product-card-link{
  size: 18px;
  height: 20px;
  font-weight: 700;
  color: #000000;
}
.product-list {
  background-color: #ffffff;
}
.product-card-price {
  text-align: end;
  color: #444444;
  line-height: 21px;
}

.pagination {
  background-color: #F0F0F0;
}
.pagination-next,.pagination-prev {
  font-family: "Raleway",sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  text-transform: uppercase;
}
.pagination-item  {
  line-height: 20px;
  color: #444444;
}
.download-more {
  font-family: "Raleway",sans-serif;
  font-size: 16px;
  line-height: 19px;
  font-weight: 800;
  letter-spacing: .2em;
  text-transform: uppercase;
}
/*  end catalog styles */

.about-list li{
  list-style-type: circle;
}
.about-item {
 color: #FFE17F;
}
.marker-black {
  line-height: 20px;
  font-weight: 700;
  color: #000000;
}

.subscription {
  background-color:#F0F0F0 ;
}
/* footer style */
footer {
  background: #444444;
}
.footer-menu-list a {
  font-family: "Raleway",sans-serif;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: #ffffff;
}
.contacts-subtitle {
  font-family: "Ribik";
  font-size: 24px;
  line-height: 30px;
  color: #444444;
}
.contacts-phone{
  color: #000000;
  text-decoration: underline;

}
.footer-text,.footer-contacts-phone {
  font-family: "Ribik",sans-serif;
  line-height: 20px;
  color: #ffffff;
}
address  {
  font-style: normal
}
